<div ng-controller="PostsCtrl as pCtrl">
  <div class="page-header">
    <h1> Comments </h1>
  </div>

  <div ng-repeat="comment in pCtrl.comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="addVote(comment)"></span>
    {{comment.author}} - {{comment.votes}}
    <span style="font-size: 20px; margin-left: 10px;"> {{comment.body}} </span>
  </div>

  <form ng-submit="pCtrl.addComment()" style="margin-top: 30px">
    <h3> Add a new comment </h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="comment" ng-model="pCtrl.comment">
    </div>
    <button type="submit" class="btn btn-primary"> Post </button>
  </form>
</div>